body {
	background-color: black;
	overflow-y: hidden;
}

.background-dc {
	background: url("blackmarble.png") no-repeat center top fixed;     
    background-size: cover;	
}

.background-dc > img {
	position: fixed;
	left: 73%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.background-m {
	background: url("background-waves.jpeg") no-repeat center top fixed;     
    background-size: cover;	
}

.background-t {
	background: url("background-braids.jpeg") no-repeat center top fixed;     
    background-size: cover;	
    overflow: scroll;
}

@font-face {
	font-family:'sfpro-bold';
	src: url('sf-pro-text-bold.otf');
}

@font-face {
	font-family:'sfpro-regular';
	src: url('sf-pro-text-regular.otf');
}

@font-face {
	font-family:'sfpro-thin';
	src: url('sf-pro-text-thin.otf');
}

h1 {
	font-family:'sfpro-bold';
	color: white;
	font-size: 23px;
	margin: 10px 0px 0px 0px;
}

h2 {
	font-family:'sfpro-regular';
	color: white;
	font-style: italic;
	font-size: 16px;
	margin: 10px 0px 0px 0px;
}

h3 {
	font-family:'sfpro-thin';
	color: white;
	font-size: 13px;
	margin: 10px 0px 0px 0px;
}

h4 {
	font-family:'sfpro-bold';
	color: black;
	font-size: 15px;
	margin: 10px;
}

h5 {
	font-family:'sfpro-thin';
	color: black;
	line-height: 17px;
	font-size: 13px;
	margin: 10px;
}

h6 {
	font-family:'sfpro-regular';
	font-size: 16px;
	z-index: 2;
}

.delete {
	background-color: #FFFFFF;
	border-radius: 5px;
	position: absolute;
	left: 50%;
	top: 88%;
	transform: translate(-50%, -50%);
	z-index: 4;
	width: 250px;
	padding: 10px;
	color: #BD2E2E;
	font-family:'sfpro-regular';
	letter-spacing: 1px;
	display: none;
}

.container-m:hover .messages-container .row .column .column-1 .vertical_align .leftcheck {
	display: inline;	
}

.container-m:hover .messages-container .row .column .column-2 .vertical_align .rightcheck {
	display: inline;	
}

.leftcheck {
	display: none;
}

.rightcheck {
	display: none;
}

.container-m:hover .delete {
	display: inline;	
}

p {
	font-family:'sfpro-regular';
	color: #3A98FC;
	font-size: 15px;
}

.container {
	justify-content: center;
	display: flex;
	width: 1000px;
	position: fixed;
	left: 70%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.container > img {
	z-index: 2;
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}

.inner-container {
	display: flex;
	background-color: gray;
	width: 500px;
	align-items: center;
}

.text-container {
	width: 430px;
	max-width: 430px;
	height: 440px;
	border-color: white;
	border-style: solid;
	border-width: 0.4px;
	padding: 30px;
	z-index: 3;
	position: relative;
	margin: 0 40px 0 40px;
	display: flex;
	flex-direction: column;
  	justify-content: center;

}

.vertical_align {
    display: flex; 
    align-items: center; 
}

.leftarrow {
	z-index: 3;
	position: relative;
}

.rightarrow {
	z-index: 3;
	position: relative;
}

.leftarrowhover:hover {
	fill: #E7E7E7;
}

.rightarrowhover:hover {
	fill: #E7E7E7;
}

.ios_box {
	background-color: #EDECEB;
	border-color: #767676;
	border-radius: 15px;
	border-style: solid;
	border-width: 0.4px;
	width: 290px;
	padding: 30px;
	padding-top: 18px;
	padding-bottom: 5px;
	text-align: center;
}

.ios_box_dc {
	position: fixed;
	left: 25%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.ios_box_m {
	position: fixed;
	left: 78%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.ios_box_t {
  	margin: 30px auto;
}

a {
	text-decoration: none
}

hr {
	margin-top: 20px;
	margin-bottom: 10px;
}

.browser {
	position: fixed;
	left: 30%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.messages-container {
	z-index: 2;
}

.row {
	display: flex;
}

.column {
  	flex: 50%;
}

.column-t {
  	flex: 33%;
}
.column-1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  	margin-left:0px;
  	width: 270px;
  	height: 560px;
  	justify-content: space-evenly;
  	margin-top: 45px;
 }

.column-2 {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
  	flex: 1;
  	width: 270px;
  	height: 560px;
  	margin-top: 70px;
}

.opacity {
	opacity: 0;
}

.container-m {
	justify-content: center;
	text-align: center;
	display: flex;
	width: 0px;
	position: fixed;
	left: 35%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.textmessages {
	position: absolute;
	z-index: 3;
	padding: 0px;
	width: 300px;
	height: 600px;
}

h6 {
	font-family:'sfpro-thin';
	color: black;
	font-size: 13px;
	margin: 27px;
}

.time {
	position: absolute;
	left: 50%;
	top: 67%;
	transform: translate(-50%, -50%);
	z-index: 4;
	font-size: 11px;
	width: 400px;
	letter-spacing: 0.5px;
}

.nobold {
	font-family: 'sfpro-thin';
}

.flexgrid {
	display: flex;
	padding-left: 40px;
	padding-right: 40px;
}

.flexgrid .col {
	flex: 1;
	width: 32%;
	justify-content: center;
}

iframe {
	border-radius: 15px;
	border-width: 5px;
	display: block;
	margin: 0 auto;
	margin-bottom: 25px;
}

.gfm-embed {
	border-radius: 15px;
	border-width: 5px;
	width: 400px;
	display: block;
	margin-left: 19px;
	margin-right: 19px;
	margin-bottom: 25px;
}
