html {
	cursor: url('cursor.svg'), auto;
}

body {
	background-color: #C5DAE5;
	margin: 0;
}

@font-face {
	font-family:'poppins';
	src: url('Poppins-Medium.ttf');
}

h1 {
	position: fixed;
	font-family: poppins;
	font-size: 30px;
	letter-spacing: 3px;
	left: 50%;
	top: 44%;
	white-space: nowrap;
	transform: translate(-50%, -50%);
}

h2 {
	position: fixed;
	font-family: poppins;
	letter-spacing: 3px;
	font-size: 20px;
	left: 50%;
	top: 50%;
	white-space: nowrap;
	transform: translate(-50%, -50%);
}

a {
  	text-decoration: none;
  	cursor: url('hover_cursor.svg'), auto;
}

.center {
	text-align:center;
	cursor: url('whatsnext.svg'), auto;
}

/*FIRST FLEX*/

.flex-container1 {
	width: 100%;
	display: flex;
	margin-top: 500px;
	overflow: hidden;
}

.flex-container1 > a {
	margin-right: 300px;
}

.start1 {
	animation: bannermove_a 20s linear infinite;
}

@keyframes bannermove_a {
	0% {margin-left: 0px;}
	100% {margin-left: -1807px;}
}

.flex-container1:hover .start1{
	animation-play-state: paused;
}

/*SECOND FLEX*/

.flex-container2 {
	width: 100%;
	display: flex;
	margin-top: 400px;
	margin-bottom: 300px;
	overflow: hidden;
}

.flex-container2 > a {
	margin-right: 300px;
}

.start2 {
	animation: bannermove_b 20s linear infinite;
}

@keyframes bannermove_b {
	0% {margin-left: -200px;}
	100% {margin-left: -2000px;}
}

.flex-container2:hover .start2{
	animation-play-state: paused;
}

/*THIRD FLEX*/

.flex-container3 {
	width: 100%;
	display: flex;
	margin-top: 400px;
	margin-bottom: 300px;
	overflow: hidden;
}

.flex-container3 > a {
	margin-right: 300px;
}

.start3 {
	animation: bannermove_c 20s linear infinite;
}

@keyframes bannermove_c {
	0% {margin-left: -100px;}
	100% {margin-left: -1907px;}
}

.flex-container3:hover .start3{
	animation-play-state: paused;
}

/*FOURTH FLEX*/

.flex-container4 {
	width: 100%;
	display: flex;
	margin-top: 400px;
	margin-bottom: 250px;
	overflow: hidden;
}

.flex-container4 > a {
	margin-right: 300px;
}

.start4 {
	animation: bannermove_d 20s linear infinite;
}

@keyframes bannermove_d {
	0% {margin-left: 0px;}
	100% {margin-left: -1814px;}
}

.flex-container4:hover .start4{
	animation-play-state: paused;
}

/*MEDIAFRAMES*/

@media (max-height: 450px) {
  h1 {font-size: 30px;
	  position: fixed;
	  left: 50%;
	  top: 44%;
	  white-space: nowrap;
	  transform: translate(-50%, -50%);}
  h2 {font-size: 20px;
	  position: fixed;
	  left: 50%;
	  top: 54%;
	  white-space: nowrap;
	  transform: translate(-50%, -50%);}
}

@media (max-width: 768px) {
  h1 {font-size: 24px;}
  h2 {font-size: 16px;}
}


